<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if vacancies %}
<ol>
{% for vacancy in vacancies %}
<li>
    {% for rows in vacancy %}
    <p>{{rows}}: {{ vacancy[rows] }}</p>
    {% endfor %}
</li>
{% endfor %}
</ol>
{% else %}
<p>No vacancy found</p>
{% endif %}
</body>
</html>