<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ol>
{% for vacancy in vacancies %}
<li>
    {% for rows in vacancy %}
        <p>{{ rows }}</p>
    <p>{{ vacancy[rows] }}</p>
    {% endfor %}
</li>
{% endfor %}
</ol>
</body>
</html>
